openai
Flask
requests
Flask-Cors
gunicorn
python-dotenv
beautifulsoup4
scikit-learn
regex
html2text
psycopg2-binary
google-labs-html-chunker
google-cloud-language
langchain-google-community
google-labs-html-chunker
PyPDF2
pypdf
langdetect